@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}


body {
    background: linear-gradient(
        90deg,
        rgba(10, 36, 84, 1) 0%,
        rgba(87, 199, 133, 1) 50%,
        rgba(237, 221, 83, 1) 100%
    );
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    width: 450px;
    background: rgba(0, 0, 0, 0.6);
    border: 2px solid #5d3a3a;
    border-radius: 20px;
    backdrop-filter: blur(15px);
    padding: 30px;
    color: #ffffff;
}


.container h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    color: rgb(221, 231, 239);
}


form label {
    display: block;
    margin: 5px 0;
    font-size: 1em;
}


form input[type="text"],
form input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    border: none;
    border-bottom: 2px solid #fbf7f7;
    background: transparent;
    color: #ffffff;
    font-size: 1em;
    outline: none;
}


.submit-error {
    color: #ffb3b3;
    font-size: 0.9em;
    display: block;
    text-align: center;
    margin-bottom: 10px;
}


form input[type="submit"] {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    margin-top: 10px;
    transition: all 0.3s ease;
}


form input[type="submit"]:hover {
    background-color: #5d3a3a;
    color: #ffffff;
    transform: scale(1.05);
}


form input[type="submit"]:active {
    transform: scale(0.95);
    background-color: #3c2525;
}


form p,
.container a {
    text-align: center;
    margin-top: 15px;
    font-size: 0.9em;
}

form p a,
.container a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
}

form p a:hover,
.container a:hover {
    text-decoration: underline;
}
